<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="small text-center text-muted fst-italic">จัดทำโดย</div>
                <div class="small text-center text-muted fst-italic">นายชาคริต ภูวมุกดา รหัส 6310110107 ดูแล front-end</div>
                <div class="small text-center text-muted fst-italic">นายอัฟฎ็อล หีมเห็ม รหัส 6310110576 ดูแล back-end</div>
            </div>
        </div>
    </div>
</footer>